<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
	integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
	crossorigin="anonymous">

<title>Register</title>
</head>
<body style="background-color: #f8f8ff;">
	<div th:replace="fragments/nav :: nav" /><br><br><br>

	<div class="container">

		<form th:action="@{/createuser}" th:object="${user}" method="post" class="row g-3"
			style="background-color: #F5F5F5; margin-top: 20px; border: 1px solid #f2f2f2; border-radius: 4px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">


			<div class="form-group col-md-12">
				<h1 style="text-align: center;">Update Your Details</h1>
				<input type="hidden" th:field="*{globalUserId}" />
			</div>

			<div class="form-group col-md-4">
				<label for="inputEmail4">First Name</label> <input type="text"
					class="form-control" placeholder="Last Name" id="firstName"
								th:field="*{firstName}">
			</div>
			<div class="form-group col-md-4">
				<label for="inputEmail4">Middle Name</label> <input type="text"
					class="form-control" id="middleName" th:field="*{middleName}">
			</div>
			<div class="form-group col-md-4">
				<label for="inputPassword4">Last Name</label> <input type="text"
					class="form-control" placeholder="last Name" name="lastName">
			</div>

			<div class="col-6">
				<div class="form-group">
					<label for="exampleFormControlSelect1">Gender</label> <select
						class="form-control" id="exampleFormControlSelect1">
						<option selected>Choose...</option>
						<option th:each="gender : ${onesgender}"
							th:value="${gender.genderId}" th:text="${gender.genderName}">Select</option>
					</select>
				</div>
			</div>
			<div class="col-6">
				<label for="inputAddress2" class="form-label">Date Of Birth</label>
				<input type="date" class="form-control" id="inputAddress1"
					name="date">
			</div>
			<div class="col-md-6">
				<label class="form-label">National Id Number(NIN)</label> <input
					type="text" class="form-control" placeholder="e.g FDGHDI2IDH3H"
					name="nin">
			</div>
			<div class="col-6">
				<label for="inputAddress" class="form-label">Primary Phone
					No.</label> <input type="text" class="form-control"
					placeholder="eg 0789887688" name="primaryPhone">
			</div>
			<div class="col-6">
				<label for="inputAddress2" class="form-label">Secondary
					Phone No.</label> <input type="text" class="form-control"
					id="inputAddress2" placeholder="eg 0789887688"
					name="secondaryPhone">
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="exampleFormControlSelect1">Country</label> <select
						class="form-control" id="exampleFormControlSelect1">
						<option selected>Choose...</option>
						<option th:each="country : ${onescountry}"
							th:value="*{countryId}*" th:text="*{countryName}*"></option>
					</select>
				</div>
			</div>
			<div class="col-md-2">
				<label for="inputZip" class="form-label">Zip Code</label> <input
					type="text" class="form-control" id="inputZip">
			</div>
			<div class="col-12"></div>
			<div class="col-6">
				<label for="inputAddress" class="form-label">Primary Email</label> <input
					type="email" class="form-control" id="inputAddress"
					placeholder="example@gmail.com" name="primaryEmail">
			</div>
			<div class="col-6">
				<label for="inputAddress2" class="form-label">Secondary
					Email</label> <input type="email" class="form-control" id="inputAddress5"
					placeholder="example@gmail.com">
			</div>
			<div class="col-6">
				<label for="inputAddress" class="form-label">Preferred
					WhatsApp No.</label> <input type="text" class="form-control"
					id="inputAddres" placeholder="Prefered WhatsApp No"
					name="preferedWhatsappNumber">
			</div>
			<div class="col-6">
				<label for="inputAddress2" class="form-label">Card Or
					passport Number</label> <input type="text" class="form-control"
					id="inputAddress" placeholder="e.g FDGHDI2IDH3H">
			</div>
			<div class="col-6">
				<label for="inputAddress" class="form-label">Change Address</label> <input
					type="text" class="form-control" id="inputAddres"
					placeholder="1234 Main St" name="address">
			</div>
			<div class="col-6">
				<label for="inputAddress2" class="form-label">Address 2</label> <input
					type="text" class="form-control" id="inputAddress"
					placeholder="Apartment, studio, or floor">
			</div>
			<div class="col-md-4">
				<label for="inputPassword4" class="form-label">Change
					Your User Name
				</label> <input type="text" class="form-control"
					id="userName" th:field="*{userName}" >
			</div>
			<div class="col-md-4">
				<label for="inputPassword4" class="form-label">Change
					Your Password 
				</label> <input type="password" class="form-control" id="inputPassword4"
					name="password">
			</div>
			<div class="col-md-4">
				<div class="form-group">
					<label for="exampleFormControlSelect1">Role</label> <select
						class="form-control" id="exampleFormControlSelect1">
						<option selected>Choose...</option>
						<option th:each="role : ${onesrole}"
							th:value="${role.id}" th:text="${role.roleName}"></option>
					</select>
				</div>
			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-primary">Register</button>
				<br>
			</div>
		</form>
		<br>

	</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
	crossorigin="anonymous"></script>
</html>
